@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

#root {
  min-height: 100vh;
  min-height: 100svh;
  box-sizing: border-box;
  background-color: rgb(254, 235, 238);
  color: rgb(16, 16, 16);
}

body {
  margin: 0;
  overflow: hidden;
}

canvas {
  image-rendering: pixelated;
}
